.container{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100vw;
    height: 100vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.spacebar{
    margin: 5px;
}

.button{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    width: 300px;
}


